# Telegram Bot Token from BotFather
TELEGRAM_BOT_TOKEN=8706599549:AAF_vovHa0hkby_nACym_h23BluaF6cWV8

# Firebase Admin Credentials
FIREBASE_PROJECT_ID=dice-roller-choice
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@dice-roller-choice.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour_Private_Key_Here\n-----END PRIVATE KEY-----\n"
